div.a {
    text-align: center;
}

body {
    background-color: #000;
}

.fade-in-image {
    animation: fadeIn 10s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}